@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .overflow-ellipsis-3{
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}
